nav {
    height: 80px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-family: "Bell MT", sans-serif;
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
}

.post-form {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0 5px 10px;
}

.toggle-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle-form {
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}


.logout-button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #cc0000;
    background-color: #dc3545;
    color: white;
    width: 75px;
}

.logout-button:hover {
    background-color: #cc0000;
    color: #ffff;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s;
}

.button:hover {
    background-color: #0056b3;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


#filterOptions button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filterOptions button:hover {
    background-color: #0056b3;
}

.income {
    background-color: lightgreen;
}

.expense {
    background-color: lightcoral;
}


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #1e1e1e;
}

.post-form {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0 5px 10px;
}

.toggle-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

.toggle-form:hover {
    background-color: #053f83;
}

.edit-form input,
.borrowing-form input,
.reader-form input,
.category-form input,
.book-form input,
.book-form select,
.post-form input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0 5px 10px;
}

button[type="submitDelete"],
button[type="submitAdd"],
.toggle-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type="submitDelete"] {
    background-color: #cc0000;
    color: white;
    width: 75px;
}

button[type="submitDelete"]:hover,
.toggle-form:hover {
    background-color: #880404;
}


button[type="submitDelete"]:hover {
    background-color: #880404;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn-main {
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background: #c800fb;
    box-shadow: 0 5px 0 #2b0202;
    margin-left: 150px;
    margin-top: 150px;
    font-family: "Bell MT", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    float: left;
}

.btn-main:hover {
    background: #470101;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.sort-arrow {
    margin-left: 5px;
    font-size: 0.8em;
    color: #007bff;
}

th:hover {
    background-color: #e0e0e0;
}