<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav>
    <a href="#">
        <img src="/images/logo.svg" width="75" height="75" alt="">
    </a>
    <h1>Система Управления Личными Финансами</h1>
    <div style="display: flex; align-items: center;">
        <span class="username" th:text="${user.username}"></span>
        <form action="#" th:action="@{/logout}" method="get" style="margin-left: 10px;">
            <button type="submit" class="logout-button">Выйти</button>
        </form>
    </div>
</nav>
<h1>Добро пожаловать, <span th:text="${user.username}"></span>!</h1>
<p>Ваши данные:</p>

</body>
</html>