<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Домашняя страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<style>
    body {
        background-image: url('/images/mainPageBackground.png');
    }

    .h1home {
        margin-top: 50px;
        font-family: Bell MT sans-serif
    }

    .button-container {
        margin-top: 70px;
    }
</style>
<nav class="navbar">
    <a href="#">
        <img src="/images/logo.svg" width="75" height="75" alt="">
    </a>
    <h1>Система Управления Личными Финансами</h1>
    <div style="display: flex; align-items: center;">
        <span class="username" th:text="${user.username}"></span>
        <form action="#" th:action="@{/logout}" method="get" style="margin-left: 10px;">
            <button type="submit" class="logout-button">Выйти</button>
        </form>
    </div>
</nav>
<h1 class="h1home">Добро пожаловать, <span th:text="${user.username}"></span>!</h1>

<div class="button-container">
    <a class="button" th:href="@{/categories}">Категории расходов и доходов</a>
    <a class="button" th:href="@{/transactions}">Добавить доходы или расходы</a>
</div>


</body>
</html>